<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous" />
  </head>
  <body>


    
    <%- include('nav.html') %>
    <div class="container" style="display: flex;">
      <button id="pre_btn" type="button"><</button>
      <h1 id="now_year"></h1>
      <h2 id="now_month"></h2>
      <button id="next_btn">></button>
    </div>

    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
          </tr>
        </thead>
        <tbody class="cal-body" id="cal-body"></tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <script>
      //달력 구현
      var now_date = new Date(); //현재시각
      var year = now_date.getFullYear(); //현재 년
      var month = now_date.getMonth(); //현재 월 (1월이 0부터 시작)
      var day = now_date.getDate(); //현재 일

      var workers = ['경민', '성호', '종수', '성구'];

      function makeCal(year, month) {
        var first_day = new Date(year, month, 1).getDay(); //1일의 요일 구하기
        var last_day = new Date(year, month + 1, 0).getDate(); //마지막 일자 구하기

        const start_day = new Date(2023, 0, 1);// 근무자 띄우기
        var final_day = new Date(year, month - 1, new Date(year, month, 0).getDate());
        var day_count = Math.floor((final_day.getTime() - start_day.getTime()) / (24 * 60 * 60 * 1000)) + 1;


        var table_body = '';
        var today = 1;

        for (let w = 0; w < 7; w++) {
          table_body += `<tr>`;
          for (let d = 0; d < 7; d++) {
            if (w == 0 && d < first_day) {
              //첫째줄이고 첫날 시작 전이면
              table_body += `<td></td>`;
            } else if (w == 0) {
              //첫째주이고 첫날이 시작하면
              table_body += `<td><span style="font-size: 25px;">${today} </span><br>${workers[(day_count + today) % 4]} <br>${workers[(day_count + today-1) % 4]} </td>`;              
              today++;
            } else if (w > 1 && today <= last_day) {
              //첫째줄 외의 경우에는
              table_body += `<td><span style="font-size: 25px;">${today} </span><br>${workers[(day_count + today) % 4]} <br>${workers[(day_count + today-1) % 4]}</td>`;
              today++;
              if (today > last_day) {
                //마지막날이 오면
                break;
              }
            }
          }
          table_body += `</tr>`;
        }

        document.querySelector('#now_year').innerHTML = `${year}년`;
        document.querySelector('#now_month').innerHTML = `${month + 1}월`;
        document.querySelector('#cal-body').innerHTML = table_body;
      }

      makeCal(year, month);

      document.querySelector('#pre_btn').addEventListener('click', function () {
        //이전달보기
        if (month > 0) {
          month--;
          console.log(month);
          makeCal(year, month);
        } else if (month == 0) {
          month = 11;
          year--;
          makeCal(year, month);
        }
      });

      document.querySelector('#next_btn').addEventListener('click', function () {
        //다음달 보기
        if (month < 11) {
          month++;
          console.log(month);
          makeCal(year, month);
        } else if ((month = 11)) {
          month = 0;
          year++;
          makeCal(year, month);
        }
      });
    </script>
  </body>
</html>
